/API_Affiliates/appsettings.json
/API_Affiliates/appsettings.development.json
/API_Affiliates/Migrations/20230603163332_initDb.cs
/API_Affiliates/Migrations/ProjectDbContextModelSnapshot.cs
/API_Affiliates/Migrations/