/API_Affiliates/appsettings.json
/API_Affiliates/appsettings.development.json
/API_Affiliates/Migrations/20230603163332_initDb.cs
/API_Affiliates/Migrations/ProjectDbContextModelSnapshot.cs
/API_Affiliates/Migrations/
/API_Affiliates/Properties/PublishProfiles/FTPProfile.pubxml
/API_Affiliates/appsettings.Development.json
